/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'museo_sans500_italic';
  src: url('./fonts/museosans_500_italic.eot');
  src: url('./fonts/museosans_500_italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_500_italic.woff2') format('woff2'), url('./fonts/museosans_500_italic.woff') format('woff'), url('./fonts/museosans_500_italic.ttf') format('truetype'), url('./fonts/museosans_500_italic.svg#museo_sans500_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans500';
  src: url('./fonts/museosans_500.eot');
  src: url('./fonts/museosans_500.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_500.woff2') format('woff2'), url('./fonts/museosans_500.woff') format('woff'), url('./fonts/museosans_500.ttf') format('truetype'), url('./fonts/museosans_500.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans100';
  src: url('./fonts/museosans-100.eot');
  src: url('./fonts/museosans-100.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-100.woff2') format('woff2'), url('./fonts/museosans-100.woff') format('woff'), url('./fonts/museosans-100.ttf') format('truetype'), url('./fonts/museosans-100.svg#museo_sans100') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans900';
  src: url('./fonts/museosans_900.eot');
  src: url('./fonts/museosans_900.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_900.woff2') format('woff2'), url('./fonts/museosans_900.woff') format('woff'), url('./fonts/museosans_900.ttf') format('truetype'), url('./fonts/museosans_900.svg#museo_sans900') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700';
  src: url('./fonts/museosans_700.eot');
  src: url('./fonts/museosans_700.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_700.woff2') format('woff2'), url('./fonts/museosans_700.woff') format('woff'), url('./fonts/museosans_700.ttf') format('truetype'), url('./fonts/museosans_700.svg#museo_sans700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans300_italic';
  src: url('./fonts/museosans-300italic.eot');
  src: url('./fonts/museosans-300italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-300italic.woff2') format('woff2'), url('./fonts/museosans-300italic.woff') format('woff'), url('./fonts/museosans-300italic.ttf') format('truetype'), url('./fonts/museosans-300italic.svg#museo_sans300_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans100_italic';
  src: url('./fonts/museosans-100italic.eot');
  src: url('./fonts/museosans-100italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-100italic.woff2') format('woff2'), url('./fonts/museosans-100italic.woff') format('woff'), url('./fonts/museosans-100italic.ttf') format('truetype'), url('./fonts/museosans-100italic.svg#museo_sans100_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans300';
  src: url('./fonts/museosans-300.eot');
  src: url('./fonts/museosans-300.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-300.woff2') format('woff2'), url('./fonts/museosans-300.woff') format('woff'), url('./fonts/museosans-300.ttf') format('truetype'), url('./fonts/museosans-300.svg#museo_sans300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans900_italic';
  src: url('./fonts/museosans-900italic.eot');
  src: url('./fonts/museosans-900italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-900italic.woff2') format('woff2'), url('./fonts/museosans-900italic.woff') format('woff'), url('./fonts/museosans-900italic.ttf') format('truetype'), url('./fonts/museosans-900italic.svg#museo_sans900_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700_italic';
  src: url('./fonts/museosans-700italic.eot');
  src: url('./fonts/museosans-700italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-700italic.woff2') format('woff2'), url('./fonts/museosans-700italic.woff') format('woff'), url('./fonts/museosans-700italic.ttf') format('truetype'), url('./fonts/museosans-700italic.svg#museo_sans700_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brush_up_tooregular';
  src: url('./fonts/brush_up_too.eot');
  src: url('./fonts/brush_up_too.eot?#iefix') format('embedded-opentype'), url('./fonts/brush_up_too.woff2') format('woff2'), url('./fonts/brush_up_too.woff') format('woff'), url('./fonts/brush_up_too.ttf') format('truetype'), url('./fonts/brush_up_too.svg#brush_up_tooregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
::selection {
  color: white;
  background: #ca3837;
}
::-moz-selection {
  color: white;
  background: #ca3837;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'museo_sans900', sans-serif;
  font-size: 14px;
  color: white;
  background: white;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.img-float-left {
  position: relative;
  display: block;
  float: left;
}
#container {
  overflow:hidden;
  background: url(../images/bg.jpg) 0 0 repeat-y;
  display: block;
  width: 810px;
  margin: 0 auto;
  padding-bottom: 40px;
}
#container header {
  background: url(../images/bg-header.jpg) 0 16px no-repeat;
  position: relative;
  display: block;
  height: 330px;
}
#container header .titulo {
  background: url(../images/bg-titulo.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 455px;
  height: 195px;
  text-indent: -9999px;
  top: 60px;
  left: 193px;
}
#container header.interna {
  height: 165px;
}

#container header.interna a{display: block;width: 270px;height: 140px;background: transparent;border:none;outline: none;}

#container header.interna a .titulo {
  background: url(../images/bg-titulo-interna.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 201px;
  height: 86px;
  text-indent: -9999px;
  top: 40px;
  left: 55px;
}
#container footer {
  position: relative;
  display: block;
}
#container footer .wrap-footer {
  display: block;
  width: 732px;
  margin: 0 auto;
}
#container footer .wrap-footer:before,
#container footer .wrap-footer:after {
  content: " ";
  display: table;
  clear: both;
}
#container footer .wrap-footer .left-side {
  float: left;
  width: 50%;
}
#container footer .wrap-footer .right-side {
  float: left;
  width: 50%;
  margin-top: 15px;
}
#container footer .wrap-footer .link {
  position: relative;
  display: block;
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
}
#container .video-campanha {
  background: #cccccc;
  position: relative;
  display: block;
  width: 732px;
  height: 412px;
  margin: 0 auto;
}
#container .video-campanha .link-filme {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
#container .video-campanha .link-filme img {
  position: relative;
  display: block;
}
#container .video-campanha .tag {
  position: absolute;
  display: block;
  font-size: 11px;
  color: white;
  top: 5px;
  left: 5px;
}
#container .video-campanha .wrap-video {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  z-index: 99;
}
#container .video-campanha .content-video {
  position: fixed;
  display: block;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .video-campanha .content-video .close-btn {
  background: url(../images/close.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: -20px;
  right: -20px;
}
#container .linha-do-tempo {
  position: relative;
  display: block;
  width: 732px;
  height: 335px;
  margin: 0 auto 80px auto;
  padding-top: 34px;
  /*overflow: hidden;*/
}
#container .linha-do-tempo h2 {
  position: relative;
  display: block;
  text-align: center;
  font-size: 22px;
  color: #f5c112;
}
#container .linha-do-tempo #timeline {
  width: 530px;
  height: auto;
  margin: 15px auto 40px auto;
  position: relative;
}
#container .linha-do-tempo #dates {
  width: 732px !important;
  height: 50px;
  margin: 0 0 0 -100px !important;
  overflow: hidden;
  list-style-type: none;
  padding-bottom: 20px;
}
#container .linha-do-tempo #dates:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 15px;
  left: -100px;
  width: 732px;
  height: 3px;
  background: white;
}
#container .linha-do-tempo #dates li {
  width: 73px;
  list-style: none;
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 0;
}
#container .linha-do-tempo #dates a {
  position: relative;
  display: block;
  font-family: 'museo_sans700', sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
#container .linha-do-tempo #dates a:after {
  content: ' ';
  display: block;
  position: absolute;
  background: #b12a29;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-left: -10px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  z-index: 9;
}
#container .linha-do-tempo #dates .selected:after {
  content: ' ';
  display: block;
  position: absolute;
  background: white;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-left: -10px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  z-index: 9;
}
#container .linha-do-tempo #wrap-issues {
  position: relative;
  display: block;
  /*overflow: hidden;*/
  width: 530px;
}
#container .linha-do-tempo #issues {
  width: 216px;
  height: 186px;
  margin-bottom: 25px;
}
#container .linha-do-tempo #issues li {
  position:relative;
  width: 216px;
  height: 186px;
  list-style: none;
  float: left;
}
#container .linha-do-tempo #issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#container .linha-do-tempo #issues li img {
  float: left;
  margin: 0;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
  /* IE 6 & 7 */
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}


#container .linha-do-tempo #issues li .content {display:none; position:absolute; top:200px; left:-11px; z-index:999; width:238px; background:#e1e1e1; padding:30px; box-shadow:0px 0px 10px 1px #6F1C1C;}
#container .linha-do-tempo #issues li .content:before {content:''; position:absolute; top:-11px; left:50%; margin:0 0 0 -24px; width:48px; height:11px; background:url(../images/timeline-arrow.png);}
#container .linha-do-tempo #issues li h3 {color:#ca3837; line-height:20px; margin:0 0 10px;}
#container .linha-do-tempo #issues li p {color:#4a4a4a; line-height:20px;}


#container .linha-do-tempo #issues li h1 {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: black 1px 1px 2px;
}
/*#container .linha-do-tempo #issues li p {
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
  line-height: 22px;
  text-shadow: black 1px 1px 2px;
}*/
#container .linha-do-tempo #grad_left,
#container .linha-do-tempo #grad_right {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0;
}
#container .linha-do-tempo #grad_left {
  left: 0;
}
#container .linha-do-tempo #grad_right {
  right: 0;
}
#container .linha-do-tempo #next,
#container .linha-do-tempo #prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 100px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
#container .linha-do-tempo #next {
  right: -50px;
  background-image: url(../images/timeline/next.png);
}
#container .linha-do-tempo #prev {
  left: -50px;
  background-image: url(../images/timeline/prev.png);
}
#container .mosaico {
  position: relative;
  display: block;
  width: 732px;
  margin: 0 auto 60px auto;
}
#container .mosaico .wrap-abas {
  width: 732px;
  margin: 0 auto;
}
#container .mosaico .wrap-abas .tabs {
  height: 40px;
  position: relative;
  display: block;
  list-style: none;
  margin-bottom: 15px;
}
#container .mosaico .wrap-abas .tabs li {
  position: relative;
  display: block;
  float: left;
}
#container .mosaico .wrap-abas .tabs li a {
  background: #790000;
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 14px;
  color: white;
  padding: 12px 62.3px !important;
  border-right: 1px solid #810606;
  border-left: 1px solid #b87878;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .mosaico .wrap-abas .tabs li a:hover {
  background: white;
  color: #790000;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .mosaico .wrap-abas .tabs li a.ativo {
  background: white;
  color: #790000;
}

#container .mosaico .wrap-abas .tabs li:first-child a {
  border-left: 0 none;
}
#container .mosaico .wrap-abas .tabs li:last-child a {
  border-right: 0 none;
}
#container .mosaico .wrap-abas .tabs-content-container {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 10px 100px 0px black;
  box-shadow: 0 10px 100px 0px black;
}
#container .mosaico .wrap-abas .tabs-content-container .tab-content {
  display: none;
}
#container .mosaico .wrap-abas .tabs-content-container .tab-content.ativo {
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box {
  position: relative;
  display: block;
  clear: both;
}
#container .mosaico .wrap-abas .tabs-content-container .box:before,
#container .mosaico .wrap-abas .tabs-content-container .box:after {
  content: " ";
  display: table;
  clear: both;
}
#container .mosaico .wrap-abas .tabs-content-container .box a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#container .mosaico .wrap-abas .tabs-content-container .box .pequeno {
  float: left;
  position: relative;
  display: block;
  width: 50%;
  color: white;
}
#container .mosaico .wrap-abas .tabs-content-container .box .pequeno img {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
#container .mosaico .wrap-abas .tabs-content-container .box .grande {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  color: white;
}
#container .mosaico .wrap-abas .tabs-content-container .box .grande img {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
#container .breadcrumb {
  background: #9d1d1c;
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  padding-left: 10px;
}
#container .breadcrumb li {
  position: relative;
  display: block;
  float: left;
  padding: 5px 0;
}
#container .breadcrumb li a {
  position: relative;
  display: block;
  float: left;
  text-decoration: none;
  font-family: 'museo_sans500', sans-serif;
  font-size: 10px;
  color: white;
}
#container .breadcrumb li a:hover {
  text-decoration: underline;
}
#container .breadcrumb li:after {
  content: '>';
  position: relative;
  display: block;
  float: left;
  text-decoration: none;
  font-family: 'museo_sans500', sans-serif;
  font-size: 10px;
  color: white;
  margin: 0 5px;
}
#container .conteudo-interno {
  background: #730100;
  position: relative;
  display: block;
  width: 732px;
  margin: 0 auto 40px auto;
}
#container .conteudo-interno:before,
#container .conteudo-interno:after {
  content: " ";
  display: table;
  clear: both;
}
#container .conteudo-interno .wrap-abas {
  width: auto;
  margin: 0 auto;
}
#container .conteudo-interno .wrap-abas .tabs {
  position: relative;
  display: block;
  list-style: none;
}
#container .conteudo-interno .wrap-abas .tabs:before,
#container .conteudo-interno .wrap-abas .tabs:after {
  content: " ";
  display: table;
  clear: both;
}
#container .conteudo-interno .wrap-abas .tabs li {
  position: relative;
  display: block;
  float: left;
}
#container .conteudo-interno .wrap-abas .tabs li a {
  position: relative;
  display: block;
  width: 193px;
  height: 170px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'museo_sans900', sans-serif;
  font-size: 21px;
  text-align: center;
  color: white;
  padding-top: 70px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

#container .conteudo-interno .protocolo-atendimento .wrap-abas .tabs li a {width:580px;}
#container .conteudo-interno .protocolo-atendimento .wrap-abas .tabs li a:after {width:580px !important; background:url(../images/seta-branca-long.png) center top no-repeat !important;}

#container .conteudo-interno .wrap-abas .tabs li a:hover {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .conteudo-interno .wrap-abas .tabs li a.ativo {
  background: white;
  color: #790000;
}
#container .conteudo-interno .wrap-abas .tabs li #tratamento,
#container .conteudo-interno .wrap-abas .tabs li #onde,
#container .conteudo-interno .wrap-abas .tabs li #deu-positivo {
  background: white;
  color: #9d1d1c;
}

#container .conteudo-interno .wrap-abas .tabs li #tratamento.ativo:after,
#container .conteudo-interno .wrap-abas .tabs li #onde.ativo:after,
#container .conteudo-interno .wrap-abas .tabs li #deu-positivo.ativo:after {
  content: ' ';
  position: absolute;
  display: block;
  background: url(../images/seta-branca.png) center top no-repeat;
  width: 193px;
  height: 62px;
  bottom: -25px;
  left: 0px;
  z-index: 99;
}
#container .conteudo-interno .wrap-abas .tabs li #teste,
#container .conteudo-interno .wrap-abas .tabs li #como,
#container .conteudo-interno .wrap-abas .tabs li #cuidados {
  background: #f7941d;
  color: white;
}
#container .conteudo-interno .wrap-abas .tabs li #teste.ativo:after,
#container .conteudo-interno .wrap-abas .tabs li #como.ativo:after,
#container .conteudo-interno .wrap-abas .tabs li #cuidados.ativo:after {
  content: ' ';
  position: absolute;
  display: block;
  background: url(../images/seta-amarela.png) 0 0 no-repeat;
  width: 201px;
  height: 62px;
  bottom: -25px;
  left: -8px;
  z-index: 99;
}
#container .conteudo-interno .wrap-abas .tabs li #prevencao,
#container .conteudo-interno .wrap-abas .tabs li #porque,
#container .conteudo-interno .wrap-abas .tabs li #direitos {
  background: #9d1d1c;
  color: white;
}
#container .conteudo-interno .wrap-abas .tabs li #prevencao.ativo:after,
#container .conteudo-interno .wrap-abas .tabs li #porque.ativo:after,
#container .conteudo-interno .wrap-abas .tabs li #direitos.ativo:after {
  content: ' ';
  position: absolute;
  display: block;
  background: url(../images/seta-vermelha.png) 0 0 no-repeat;
  width: 201px;
  height: 62px;
  bottom: -25px;
  left: -8px;
  z-index: 99;
}

#container .conteudo-interno .wrap-abas .tabs li #sus.ativo:after {
  content: ' ';
  position: absolute;
  display: block;
  background: url(../images/seta-azul.png) 0 0 no-repeat;
  width: 201px;
  height: 62px;
  bottom: -25px;
  left: -8px;
  z-index: 99;
}

#container .conteudo-interno .wrap-abas .tabs li #porque span,
#container .conteudo-interno .wrap-abas .tabs li #como span,
#container .conteudo-interno .wrap-abas .tabs li #onde span {
  font-size: 65px;
  position: absolute;
  display: block;
  top: 70px;
  right: 20px;
  z-index: 999;
}
#container .conteudo-interno .wrap-abas .tabs li #deu-positivo {
  padding-top: 30px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container {
  position: relative;
  display: block;
}
#container .conteudo-interno .wrap-abas .tabs-content-container:before,
#container .conteudo-interno .wrap-abas .tabs-content-container:after {
  content: " ";
  display: table;
  clear: both;
}
#container .conteudo-interno .wrap-abas .tabs-content-container .tab-content {
  display: none;
  padding: 80px 50px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container .tab-content.ativo {
  display: block;
}
#container .conteudo-interno .wrap-abas .tabs-content-container .tab-content img {
  position: relative;
  display: block;
  float: left;
  margin-right: 30px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container .tab-content p {
  position: relative;
  display: block;
  font-family: 'museo_sans500', sans-serif;
  font-size: 14px;
  line-height: 1.1;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #tratamento,
#container .conteudo-interno .wrap-abas .tabs-content-container #onde,
#container .conteudo-interno .wrap-abas .tabs-content-container #deu-positivo {
  background: white;
  color: #545454;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #teste,
#container .conteudo-interno .wrap-abas .tabs-content-container #como,
#container .conteudo-interno .wrap-abas .tabs-content-container #cuidados {
  background: #f7941d;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #prevencao,
#container .conteudo-interno .wrap-abas .tabs-content-container #porque,
#container .conteudo-interno .wrap-abas .tabs-content-container #direitos {
  background: #9d1d1c;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #deu-positivo ul {
  list-style-type: disc;
  margin-left: 95px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #deu-positivo ul li {
  list-style-type: disc;
  color: #6a6a6a;
  margin-bottom: 20px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #cuidados ul,
#container .conteudo-interno .wrap-abas .tabs-content-container #direitos ul {
  list-style-type: disc;
  margin-left: 95px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #cuidados ul li,
#container .conteudo-interno .wrap-abas .tabs-content-container #direitos ul li {
  list-style-type: disc;
  color: white;
  margin-bottom: 20px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #porque img {
  float: none;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #porque p {
  position: relative;
  display: block;
  font-family: 'museo_sans500', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 20px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #como img {
  float: none;
  margin: 0 auto;
  width: 155px;
  height: 155px;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #onde form {
  position: relative;
  display: block;
  width: 120px;
  margin: 0 auto;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #onde form label {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 3px;
  color: #9d1d1c;
}
#container .conteudo-interno .wrap-abas .tabs-content-container #onde form select {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 10px;
}
#container .conteudo-interno .topo-interna {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
#container .conteudo-interno .topo-interna:before,
#container .conteudo-interno .topo-interna:after {
  content: " ";
  display: table;
  clear: both;
}
#container .conteudo-interno .topo-interna img {
  position: relative;
  display: block;
  float: left;
  width: 390px;
  height: 210px;
  margin-right: 55px;
}
#container .conteudo-interno .topo-interna h2 {
  position: relative;
  display: block;
  font-family: 'museo_sans900', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 80px;
}
#container .conteudo-interno .wrap-content {
  position: relative;
  display: block;
  padding-bottom: 40px;
}
#container .conteudo-interno .wrap-content:before,
#container .conteudo-interno .wrap-content:after {
  content: " ";
  display: table;
  clear: both;
}
#container .conteudo-interno .material-da-campanha {
  width: 550px;
  margin: 0 auto;
}

#container .conteudo-interno .material-da-campanha p {margin:0 0 40px; line-height:20px;}

#container .conteudo-interno .material-da-campanha ul {
  position: relative;
  display: block;
}
#container .conteudo-interno .material-da-campanha ul li {
  position: relative;
  display: inline-block;
  margin: 0 37px 30px 37px;
  width: 105px;
}
#container .conteudo-interno .material-da-campanha ul li h3 {
  position: relative;
  display: block;
  font-family: 'museo_sans900', sans-serif;
  font-size: 17px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
#container .conteudo-interno .material-da-campanha ul li img {
  position: relative;
  display: block;
  width: 105px;
  height: 121px;
  margin-bottom: 20px;
}
#container .conteudo-interno .material-da-campanha ul li a {
  position: relative;
  display: block;
  background: white;
  color: #d11918;
  font-size: 11px;
  padding: 5px;
  width: 64px;
  margin: 0 auto;
  text-decoration: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
#container .conteudo-interno .material-da-campanha ul li a:hover {
  text-decoration: underline;
}
#container .conteudo-interno .mitos-e-verdades {
  width: 585px;
  margin: 0 auto;
}
#container .conteudo-interno .mitos-e-verdades .img-float-left {
  margin-right: 20px;
}
#container .conteudo-interno .mitos-e-verdades h2 {
  position: relative;
  display: block;
  font-family: 'museo_sans900', sans-serif;
  font-size: 21px;
  color: white;
  margin-bottom: 10px;
}
#container .conteudo-interno .mitos-e-verdades p {
  position: relative;
  display: block;
  font-family: 'museo_sans500', sans-serif;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
  line-height: 1.1;
}
#container .conteudo-interno .protocolo-atendimento,
#container .conteudo-interno .porque-fazer,
#container .conteudo-interno .tratamento {
  width: 580px;
  margin: 0 auto;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
#container .mosaico .wrap-abas .tabs li a {padding: 12px 62.3px !important; }
}*/