/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'museo_sans500_italic';
  src: url('./fonts/museosans_500_italic.eot');
  src: url('./fonts/museosans_500_italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_500_italic.woff2') format('woff2'), url('./fonts/museosans_500_italic.woff') format('woff'), url('./fonts/museosans_500_italic.ttf') format('truetype'), url('./fonts/museosans_500_italic.svg#museo_sans500_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans500';
  src: url('./fonts/museosans_500.eot');
  src: url('./fonts/museosans_500.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_500.woff2') format('woff2'), url('./fonts/museosans_500.woff') format('woff'), url('./fonts/museosans_500.ttf') format('truetype'), url('./fonts/museosans_500.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans100';
  src: url('./fonts/museosans-100.eot');
  src: url('./fonts/museosans-100.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-100.woff2') format('woff2'), url('./fonts/museosans-100.woff') format('woff'), url('./fonts/museosans-100.ttf') format('truetype'), url('./fonts/museosans-100.svg#museo_sans100') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans900';
  src: url('./fonts/museosans_900.eot');
  src: url('./fonts/museosans_900.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_900.woff2') format('woff2'), url('./fonts/museosans_900.woff') format('woff'), url('./fonts/museosans_900.ttf') format('truetype'), url('./fonts/museosans_900.svg#museo_sans900') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700';
  src: url('./fonts/museosans_700.eot');
  src: url('./fonts/museosans_700.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_700.woff2') format('woff2'), url('./fonts/museosans_700.woff') format('woff'), url('./fonts/museosans_700.ttf') format('truetype'), url('./fonts/museosans_700.svg#museo_sans700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans300_italic';
  src: url('./fonts/museosans-300italic.eot');
  src: url('./fonts/museosans-300italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-300italic.woff2') format('woff2'), url('./fonts/museosans-300italic.woff') format('woff'), url('./fonts/museosans-300italic.ttf') format('truetype'), url('./fonts/museosans-300italic.svg#museo_sans300_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans100_italic';
  src: url('./fonts/museosans-100italic.eot');
  src: url('./fonts/museosans-100italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-100italic.woff2') format('woff2'), url('./fonts/museosans-100italic.woff') format('woff'), url('./fonts/museosans-100italic.ttf') format('truetype'), url('./fonts/museosans-100italic.svg#museo_sans100_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans300';
  src: url('./fonts/museosans-300.eot');
  src: url('./fonts/museosans-300.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-300.woff2') format('woff2'), url('./fonts/museosans-300.woff') format('woff'), url('./fonts/museosans-300.ttf') format('truetype'), url('./fonts/museosans-300.svg#museo_sans300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans900_italic';
  src: url('./fonts/museosans-900italic.eot');
  src: url('./fonts/museosans-900italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-900italic.woff2') format('woff2'), url('./fonts/museosans-900italic.woff') format('woff'), url('./fonts/museosans-900italic.ttf') format('truetype'), url('./fonts/museosans-900italic.svg#museo_sans900_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700_italic';
  src: url('./fonts/museosans-700italic.eot');
  src: url('./fonts/museosans-700italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-700italic.woff2') format('woff2'), url('./fonts/museosans-700italic.woff') format('woff'), url('./fonts/museosans-700italic.ttf') format('truetype'), url('./fonts/museosans-700italic.svg#museo_sans700_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brush_up_tooregular';
  src: url('./fonts/brush_up_too.eot');
  src: url('./fonts/brush_up_too.eot?#iefix') format('embedded-opentype'), url('./fonts/brush_up_too.woff2') format('woff2'), url('./fonts/brush_up_too.woff') format('woff'), url('./fonts/brush_up_too.ttf') format('truetype'), url('./fonts/brush_up_too.svg#brush_up_tooregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
::selection {
  color: white;
  background: #ca3837;
}
::-moz-selection {
  color: white;
  background: #ca3837;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'museo_sans900', sans-serif;
  font-size: 14px;
  color: white;
  background: white;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
#container {
  background: url(../images/bg.jpg) 0 0 repeat-y;
  display: block;
  width: 810px;
  height: 2869px;
  margin: 0 auto;
}
#container header {
  background: url(../images/bg-header.jpg) 0 16px no-repeat;
  position: relative;
  display: block;
  height: 330px;
}
#container header .titulo {
  background: url(../images/bg-titulo.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 455px;
  height: 195px;
  text-indent: -9999px;
  top: 60px;
  left: 193px;
}
#container header.interna {
  height: 165px;
}
#container header.interna .titulo {
  background: url(../images/bg-titulo-interna.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 201px;
  height: 86px;
  text-indent: -9999px;
  top: 40px;
  left: 55px;
}
#container footer {
  position: relative;
  display: block;
}
#container footer .wrap-footer {
  display: block;
  width: 732px;
  margin: 0 auto;
}
#container footer .wrap-footer:before,
#container footer .wrap-footer:after {
  content: " ";
  display: table;
  clear: both;
}
#container footer .wrap-footer .left-side {
  float: left;
  width: 50%;
}
#container footer .wrap-footer .right-side {
  float: left;
  width: 50%;
  margin-top: 15px;
}
#container footer .wrap-footer .link {
  position: relative;
  display: block;
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
}
#container .video-campanha {
  background: #cccccc;
  position: relative;
  display: block;
  width: 732px;
  height: 210px;
  margin: 0 auto;
}
#container .video-campanha .link-filme {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
#container .video-campanha .link-filme img {
  position: relative;
  display: block;
}
#container .video-campanha .tag {
  position: absolute;
  display: block;
  font-size: 11px;
  color: white;
  top: 5px;
  left: 5px;
}
#container .video-campanha .wrap-video {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  z-index: 99;
}
#container .video-campanha .content-video {
  position: fixed;
  display: block;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .video-campanha .content-video .close-btn {
  background: url(../images/close.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: -20px;
  right: -20px;
}
#container .linha-do-tempo {
  position: relative;
  display: block;
  width: 732px;
  height: 295px;
  margin: 0 auto 80px auto;
  padding-top: 34px;
}
#container .linha-do-tempo h2 {
  position: relative;
  display: block;
  text-align: center;
  font-size: 22px;
  color: #f5c112;
}
#container .linha-do-tempo #timeline {
  width: 732px;
  height: auto;
  overflow: hidden;
  margin: 15px auto 40px auto;
  position: relative;
}
#container .linha-do-tempo #dates {
  width: 100% !important;
  height: 50px;
  margin: 0 !important;
  overflow: hidden;
  list-style-type: none;
  padding-bottom: 20px;
}
#container .linha-do-tempo #dates:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
}
#container .linha-do-tempo #dates li {
  width: 183px;
  list-style: none;
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 0;
}
#container .linha-do-tempo #dates a {
  position: relative;
  display: block;
  font-family: 'museo_sans700', sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
#container .linha-do-tempo #dates a:after {
  content: ' ';
  display: block;
  position: absolute;
  background: #b12a29;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-left: -10px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  z-index: 9;
}
#container .linha-do-tempo #dates .selected:after {
  content: ' ';
  display: block;
  position: absolute;
  background: white;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-left: -10px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  z-index: 9;
}
#container .linha-do-tempo #issues {
  width: 216px;
  height: 186px;
  overflow: hidden;
  margin-bottom: 25px;
}
#container .linha-do-tempo #issues li {
  width: 216px;
  height: 186px;
  list-style: none;
  float: left;
}
#container .linha-do-tempo #issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#container .linha-do-tempo #issues li img {
  float: left;
  margin: 0;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
  /* IE 6 & 7 */
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
#container .linha-do-tempo #issues li h1 {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: black 1px 1px 2px;
}
#container .linha-do-tempo #issues li p {
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
  line-height: 22px;
  text-shadow: black 1px 1px 2px;
}
#container .linha-do-tempo #grad_left,
#container .linha-do-tempo #grad_right {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0;
}
#container .linha-do-tempo #grad_left {
  left: 0;
}
#container .linha-do-tempo #grad_right {
  right: 0;
}
#container .linha-do-tempo #next,
#container .linha-do-tempo #prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 100px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
#container .linha-do-tempo #next {
  right: 0;
  background-image: url(../images/timeline/next.png);
}
#container .linha-do-tempo #prev {
  left: 0;
  background-image: url(../images/timeline/prev.png);
}
#container .mosaico {
  position: relative;
  display: block;
  width: 732px;
  margin: 0 auto 60px auto;
}
#container .mosaico .wrap-abas {
  width: 732px;
  margin: 0 auto;
}
#container .mosaico .wrap-abas .tabs {
  height: 40px;
  position: relative;
  display: block;
  list-style: none;
  margin-bottom: 15px;
}
#container .mosaico .wrap-abas .tabs li {
  position: relative;
  display: block;
  float: left;
}
#container .mosaico .wrap-abas .tabs li a {
  background: #790000;
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 14px;
  color: white;
  padding: 12px 62.9px;
  border-right: 1px solid #810606;
  border-left: 1px solid #b87878;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .mosaico .wrap-abas .tabs li a:hover {
  background: white;
  color: #790000;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#container .mosaico .wrap-abas .tabs li a.ativo {
  background: white;
  color: #790000;
}
#container .mosaico .wrap-abas .tabs li:first-child a {
  border-left: 0 none;
}
#container .mosaico .wrap-abas .tabs li:last-child a {
  border-right: 0 none;
}
#container .mosaico .wrap-abas .tabs-content-container {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 10px 100px 0px black;
  box-shadow: 0 10px 100px 0px black;
}
#container .mosaico .wrap-abas .tabs-content-container .tab-content {
  display: none;
}
#container .mosaico .wrap-abas .tabs-content-container .tab-content.ativo {
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .tag {
  position: absolute;
  display: block;
  font-size: 11px;
  color: white;
  top: 5px;
  left: 5px;
}
#container .mosaico .wrap-abas .tabs-content-container .box {
  position: relative;
  display: block;
  clear: both;
}
#container .mosaico .wrap-abas .tabs-content-container .box:before,
#container .mosaico .wrap-abas .tabs-content-container .box:after {
  content: " ";
  display: table;
  clear: both;
}
#container .mosaico .wrap-abas .tabs-content-container .box .pequeno {
  float: left;
  position: relative;
  display: block;
  width: 50%;
  height: 210px;
  color: white;
}
#container .mosaico .wrap-abas .tabs-content-container .box .pequeno img {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
#container .mosaico .wrap-abas .tabs-content-container .box .grande {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  height: 210px;
  color: white;
}
#container .mosaico .wrap-abas .tabs-content-container .box .video .play {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .video .play:after {
  content: ' ';
  position: absolute;
  display: block;
  background: url(../images/play-video.png) 0 0 no-repeat;
  width: 68px;
  height: 68px;
  top: 50%;
  left: 50%;
  margin-top: -34px;
  margin-left: -34px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .video p {
  position: absolute;
  display: block;
  font-size: 18px;
  color: white;
  text-align: left;
  top: 20px;
  left: 5px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .video .envie {
  background: #ca3837;
  position: absolute;
  display: block;
  width: 85px;
  padding: 3px 0;
  font-size: 9px;
  text-align: center;
  color: white;
  top: 47px;
  left: 5px;
  text-decoration: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .protocolo-atendimento {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .protocolo-atendimento .icon {
  position: absolute;
  display: block;
  width: 211px;
  height: 106px;
  top: 55px;
  left: 75px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .teste {
  position: relative;
}
#container .mosaico .wrap-abas .tabs-content-container .box .teste p {
  position: absolute;
  display: block;
  font-size: 19px;
  color: white;
  text-align: left;
  bottom: 5px;
  left: 5px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ao-vivo {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ao-vivo .play {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ao-vivo .play:after {
  content: ' ';
  position: absolute;
  display: block;
  background: url(../images/play-video.png) 0 0 no-repeat;
  width: 68px;
  height: 68px;
  top: 50%;
  left: 50%;
  margin-top: -34px;
  margin-left: -34px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ao-vivo p {
  position: absolute;
  display: block;
  font-size: 19px;
  color: white;
  text-align: left;
  top: 20px;
  left: 5px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ciencia-01 {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ciencia-01 h2 {
  position: absolute;
  display: block;
  font-size: 38px;
  line-height: 30px;
  color: #ca3837;
  top: 65px;
  left: 125px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ciencia-01 p {
  position: absolute;
  display: block;
  font-size: 13px;
  color: #ca3837;
  top: 135px;
  left: 125px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ciencia-01 .saiba-mais {
  position: absolute;
  display: block;
  font-size: 13px;
  color: #ca3837;
  text-decoration: none;
  text-align: left;
  top: 163px;
  left: 125px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .download-campanha {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .download-campanha p {
  position: absolute;
  display: block;
  font-size: 19px;
  color: black;
  top: 75px;
  left: 185px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .download-campanha .baixe {
  position: absolute;
  display: block;
  font-size: 13px;
  color: black;
  text-decoration: none;
  text-align: left;
  top: 135px;
  left: 185px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ciencia-02 {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .ciencia-02 p {
  position: absolute;
  display: block;
  font-size: 19px;
  color: white;
  text-align: left;
  bottom: 10px;
  left: 5px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tirinha {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tirinha h3 {
  position: absolute;
  display: block;
  color: #ca3837;
  font-size: 17px;
  top: 45px;
  left: 210px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tirinha p {
  position: absolute;
  display: block;
  font-family: 'museo_sans500', sans-serif;
  color: #ca3837;
  font-size: 13px;
  top: 90px;
  left: 210px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tirinha .saiba-mais {
  position: absolute;
  display: block;
  background: #ca3837;
  font-size: 9px;
  color: white;
  width: 57px;
  padding: 3px 0;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  text-decoration: none;
  top: 165px;
  left: 210px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .livro-sexualidade {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .livro-sexualidade h3 {
  position: absolute;
  display: block;
  color: #ffca03;
  font-size: 17px;
  top: 70px;
  left: 195px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .livro-sexualidade p {
  position: absolute;
  display: block;
  font-family: 'museo_sans500', sans-serif;
  color: #ffca03;
  font-size: 13px;
  top: 100px;
  left: 195px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .prevencao .tag {
  color: #be2f2d;
}
#container .mosaico .wrap-abas .tabs-content-container .box .prevencao .info {
  position: absolute;
  display: block;
  background: url(../images/bar-info-prevencao.png) top left no-repeat;
  top: 0;
  right: 105px;
  color: #be2f2d;
  padding-top: 67px;
  padding-left: 17px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .prevencao .info h2 {
  color: #ca3837;
  font-size: 25px;
  margin-bottom: 7px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .prevencao .info p {
  color: #ca3838;
  font-size: 12px;
  margin-bottom: 7px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .prevencao .info .iniciar {
  position: relative;
  display: block;
  background: #ca3837;
  font-size: 9px;
  color: white;
  width: 45px;
  padding: 3px 0;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  text-decoration: none;
}
#container .mosaico .wrap-abas .tabs-content-container .box .quiz-pegacao {
  position: relative;
  display: block;
}
#container .mosaico .wrap-abas .tabs-content-container .box .quiz-pegacao .tag {
  color: #be2f2d;
}
#container .mosaico .wrap-abas .tabs-content-container .box .quiz-pegacao h2 {
  position: absolute;
  display: block;
  color: #ca3837;
  font-size: 33px;
  top: 86px;
  right: 130px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .quiz-pegacao p {
  position: absolute;
  display: block;
  color: #ca3837;
  font-size: 13px;
  top: 135px;
  right: 150px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .quiz-pegacao .iniciar {
  position: absolute;
  display: block;
  background: #ca3837;
  font-size: 9px;
  color: white;
  width: 45px;
  padding: 3px 0;
  top: 180px;
  right: 345px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  text-decoration: none;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tratamento {
  position: relative;
  display: block;
  height: 190px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tratamento h2 {
  position: absolute;
  display: block;
  color: #ca3837;
  font-size: 38px;
  top: 60px;
  left: 110px;
}
#container .mosaico .wrap-abas .tabs-content-container .box .tratamento p {
  position: absolute;
  display: block;
  color: #ca3837;
  font-size: 13px;
  top: 115px;
  right: 110px;
}
#container .conteudo-interno {
  background: #730100;
  position: relative;
  display: block;
  width: 732px;
  margin: 0 auto;
}
